node_modules
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

MongoEC2Seed.sh
mongoseed.sh
newrelic.js
newrelic_agent.log
psqlCSVCreator.sql
seed.sql
shoeData.csv
seed.sql
